<h1>Welcome to Chatter</h1>

<% if user_signed_in? %>
  <p>Hello, <%= link_to current_user.username, user_profile_path(username: current_user.username) %>!</p>
  <p>
    <%= link_to "Edit Profile", edit_user_registration_path %> |
    <%= button_to "Sign Out", destroy_user_session_path, method: :delete %>
  </p>
<% else %>
  <p>
    <%= link_to "Sign In", new_user_session_path %> |
    <%= link_to "Sign Up", new_user_registration_path %>
  </p>
<% end %>